# Server Config
PORT=3000
NODE_ENV=development

# Database & Auth
MONGO_URI=mongodb://localhost:27017/CineMasr
JWT_SECRET=super_secret_key_123s

# Paymob Integration Keys
PAYMOB_API_KEY=ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRJek16RXhNQ3dpYm1GdFpTSTZJbWx1YVhScFlXd2lmUS4tQVRvcjMwc1lZem1vQ0ZndEFlV25HMXR1WHVmZTZCNl95bmlvMjdaajRxcmpHSTZ2Um5MYjJBTXdManJJV3hkWFNNZWJRS08tQ1BHY29velpYaXBoUQ==
PAYMOB_INTEGRATION_ID=5938942
PAYMOB_IFRAME_ID=1080808
PAYMOB_HMAC_SECRET=A219EA511ADABA51EA1E51E486BCBB03

# Automatic Ngrok Config
NGROK_AUTHTOKEN=3JouPYv0XLwYiwE5y3SeNsEmqcy_6oyw7uQuUKxytFKQ5CtwR
NGROK_DOMAIN=retrain-wake-handprint.ngrok-free.dev
