# Server Config
PORT=
NODE_ENV=development

# Database & Auth
MONGO_URI=
JWT_SECRET=

# Paymob Integration Keys
PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID=
PAYMOB_IFRAME_ID=
PAYMOB_HMAC_SECRET=

# Automatic Ngrok Config
NGROK_AUTHTOKEN=
NGROK_DOMAIN=